@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500&display=swap');
@import './partials/variables.scss';

/* ------------------------
RESET
------------------------ */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* ------------------------
GLOBALS
------------------------ */

/* ------------------------
CONTAINERS
------------------------ */
.container{
    width: 90%;
    margin: auto;
}

body{
    font-family: 'Roboto', sans-serif;
}
